#Port Configuration
PORT=3008

#DB URL
DB_URL=mongodb+srv://<username>:<password>@friendzone.ql7yy.mongodb.net/imageProcessing-microservice?retryWrites=true&w=majority&appName=FriendZone

#RabbitMQ configuration
RABBITMQ_SERVICE_URL=amqps://<username>:<password>@puffin.rmq2.cloudamqp.com/szhwoggu

#Redis environment variables
#REDIS_SERVICE_URL=rediss://default:<password>@campusmeet.redis.cache.windows.net:6380
#REDIS_HOST=campusmeet.redis.cache.windows.net
#REDIS_PORT=6380
#REDIS_PASSWORD=<password>
#REDIS_SECURE=true

REDIS_SERVICE_URL=rediss://red-cslhdf9u0jms73f6n4dg:<password>@singapore-redis.render.com:6379
REDIS_HOST=singapore-redis.render.com
REDIS_PORT=6379
REDIS_PASSWORD=<password>
REDIS_SECURE=true

#Frame Rate
FRAME_RATE=1

#Prediction Accuracy
PREDICTION_ACCURACY=0.5